*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    /* background-color: #dfebe4e4; */
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)), url('flowers-276014__340.jpg') !important;
    background-size: cover;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
  
  }
  .navbar-nav a {
    color: #16973be4 !important;
    font-size: larger;
    font-style: calc(20px);
    text-transform: uppercase !important;
  }
  
  .navbar-nav a:hover {
     color: #e4e4e4e4 !important;
  }
  .color {
    color: green;
    font-size: larger;
    font-weight: 600;
    text-transform: capitalize;
  }
  span {
    font-size: large;
    text-transform: uppercase;
  }
  .container-box{
    border-radius: 5px;
    /* background-color: #333;  */
    padding: 20px;
    width: 60%;
    margin: 0 auto;
     box-shadow: 2px 4px 8px 0 rgb(0,0,0,0.9);
    border-radius: 10px;
    margin: 100px;
    text-align: center;
    backdrop-filter: blur(40px);
  }
  
  @keyframes shake {
  0% { transform: translate(0, 0); }
  10% { transform: translate(-5px, 0); }
  20% { transform: translate(5px, 0); }
  30% { transform: translate(-5px, 0); }
  40% { transform: translate(5px, 0); }
  50% { transform: translate(-5px, ); }
  60% { transform: translate(5px, 0); }
  70% { transform: translate(-5px, 0); }
  80% { transform: translate(5px, 0); }
  90% { transform: translate(-5px, 0); }
  100% { transform: translate(0, 0); }
  }
  
  .class {
  animation: shake 8s infinite;
  }
  
  
  
  input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid green;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 2px 4px 8px 0 rgb(0, 0, 0, 0.2);
    cursor: pointer;
  
  }
  .about {
    color: #e4e4e4e4;
    font-size: bold;
    text-transform: uppercase;
  }
  
  
  .two:hover {
    border:2px solid green;
  }
  .two-box:hover {
    border: 2px solid green;
  }
  
  .btn {
    background: green;
    color: #e4e4e4e4;
    width: 200px;
    text-align: center;
  
  }
  .two-box{
    background: #3333;
    color: #e4e4e4e4;
  }
  
  .good {
    text-align: end;
    color: #e4e4e4e4 !important;
    outline: underline;
    text-transform: capitalize;
  }
  .form-control {
    background: #3333 !important;
    border: none !important;
    cursor: pointer;
    
  }
  .form-control:hover {
    border: 2px solid green !important;
  }